@import url("https://fonts.googleapis.com/css?family=Merriweather|Montserrat:400,500,600,700&display=swap");

/* General Stylings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
    font-weight: 400;
    --primary: #458f8f;
    --primary-dark: #377474;
    --highlight: #edd4b2;
    --nav-height: 100px;
    background: #f8fafa;
}

h1 {
    font-family: "Merriweather", serif;
}

h2 {
    color: var(--primary);
    font-size: 4.6rem;
    font-weight: 400;
}

h3 {
    font-weight: 400;
}

h4 {
    font-size: 1.25rem;
    padding-bottom: 1rem;
    font-weight: 600;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

.btn {
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
    margin: 1rem;
    transition: all 0.25s ease;
}

.btn:hover {
    color: #f8fafa;
    background: #222;
}


/* Navbar */

nav {
    position: fixed;
    top: 0px;
    width: 100%;
    height: var(--nav-height);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 80px;
    justify-items: start;
    align-items: flex-end;
    background: #222;
    color: #f8fafa;
    z-index: 4;
}

nav .wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding-left: 2rem;
}

nav #logo {
    background: url(../img/logo.PNG) no-repeat;
    height: 100%;
    width: 100%;
    background-size: contain;
}

nav h1 {
    font-size: 24px;
    /* needed for Edge */
}

nav #title {
    padding-left: 1rem;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    font-size: 1rem;
    grid-gap: 1rem;
    justify-self: end;
    padding-right: 4rem;
}

nav a {
    color: #f8fafa;
    transition: all 0.6s ease;
}

nav ul li:nth-child(2) {
    padding-right: 0.5rem;
}

nav a:hover {
    color: var(--highlight);
}

#navbar .you-are-here {
    color: #999;
}

#navbar .you-are-here:hover {
    cursor: pointer;
}


/* Showcase */

#showcase {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    text-align: center;
    justify-content: center;
    height: 65vh;
    width: 100%;
    position: relative;
    top: 100px;
    margin-bottom: 6rem;
}

#showcase-img {
    background: url(../img/showcase.jpg) no-repeat center center/cover;
    grid-column: 1/8;
    grid-row: 1/8;
}

.overlay {
    background: rgba(0, 0, 0, 0.35);
    position: absolute;
    grid-row: 1/8;
    grid-column: 1/8;
    height: 65vh;
    width: 100%;
    z-index: 1;
}

#showcase h1 {
    color: #f8fafa;
    z-index: 2;
    font-size: 70px;
    grid-row: 3/3;
    grid-column: 1/8;
    margin: auto;
    position: relative;
}

#showcase p {
    font-size: 35px;
    color: #f8fafa;
    z-index: 2;
    letter-spacing: 0.15rem;
    grid-row: 4/4;
    grid-column: 1/8;
    margin: auto;
    position: relative;
}

#showcase .btn {
    justify-self: center;
    align-self: center;
    background: #47b3b3;
    color: #181f1f;
    z-index: 3;
    position: relative;
    font-size: 1.2rem;
    grid-row: 5/5;
    grid-column: 1/8;
    margin-bottom: -0.5rem;
    font-weight: 500;
}

#showcase a:hover {
    color: #f8fafa;
}


/* Services */

#services {
    display: flex;
    align-content: space-around;
    padding: 5rem 10rem 7rem 10rem;
    background: #e7ecec;
}

#services div:first-child {
    width: 60%;
}

#services div:nth-child(2) {
    text-align: center;
    align-self: center;
    justify-self: center;
    width: 40%;
}

#services h2 {
    color: var(--primary);
    font-size: 5rem;
    padding-bottom: 2rem;
}

#services p {
    line-height: 2;
    font-size: 1.2rem;
}

i {
    font-size: 7rem;
    padding: 2rem;
    transition: all 0.75s ease;
}

#services h3 {
    font-size: 1.75rem;
    transition: all 0.75s ease;
}

#services div:nth-child(2):hover i {
    font-size: 8rem;
}

#services div:nth-child(2):hover h3 {
    font-size: 1.9rem;
}

#services-page {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

#first-div {
    margin: 5rem 7rem 4.5rem 10rem;
}

#second-div {
    margin: 1rem 10rem 5rem 10rem;
    line-height: 2;
}

#services-page div:nth-child(2) {
    display: flex;
}

#second-div div:nth-child(2),
#second-div div:nth-child(3) {
    margin-left: 5rem;
}

#services-page p {
    padding-bottom: 4rem;
}

#services-page ul li ul {
    list-style-type: disc;
    margin-left: 1rem;
    padding-bottom: 2rem;
}


/* Projects */

#projects {
    display: flex;
    flex-direction: column;
    margin: 10rem 10rem 5rem 10rem;
}

#projects h2 {
    padding-bottom: 4.5rem;
}

#projects h4 {
    padding-bottom: 1.25rem;
}

#projects p {
    line-height: 2;
    padding-bottom: 3rem;
}


/* About */

#about {
    padding: 5rem 18rem 7rem 10rem;
}

#about h2 {
    padding-bottom: 2rem;
}

#about p {
    line-height: 2;
    padding-bottom: 2rem;
    font-size: 1.2rem;
}

#about :nth-child(3) {
    margin-bottom: 1rem;
}

#about div {
    width: 200px;
}

#about a {
    background: #222;
    color: #fff;
    margin-left: 0rem;
    transition: all 0.6s ease;
    font-size: 1.2rem;
}

#about a:hover {
    color: var(--highlight);
}


/* Bio */

#bio {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 100px;
    margin: 5rem 0;
}

#bio h2 {
    text-align: center;
    margin-bottom: 3rem;
    margin-top: -1rem;
}

#bio-img {
    background: url(../img/bio-pic.jpg) no-repeat center;
    background-size: contain;
    height: 8.5rem;
    width: auto;
}

#bio p {
    padding: 4rem 20rem 0 20rem;
    line-height: 2;
}

#bio-footer {
    width: 100%;
    height: 90px;
    margin-top: 15rem;
}


/* Contact */

#contact {
    background: var(--primary);
    padding: 5rem 0;
}

.contact-div {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#contact label {
    color: #fff;
    font-weight: 400;
    font-size: 1.5rem;
    display: block;
    text-align: left;
    margin: 1.5rem 0 0.25rem 0;
}

#contact h3 {
    color: #fff;
    font-size: 4.6rem;
    text-align: center;
}

#contact input,
#contact textarea {
    width: 100%;
    padding: 0.6rem;
}

#contact textarea {
    padding: 0.6rem 5rem 5rem 0.6rem;
}

#contact form .btn {
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    margin: 3rem 0 0 0;
    width: 8rem;
}

::placeholder {
    color: #000;
    opacity: 0.9;
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
}

#contact-page-h3 {
    margin-top: 5rem;
}

#contact .btn {
    background: #222;
    color: #f8fafa;
    font-size: 1.2rem;
    transition: all 0.6s ease;
    -webkit-appearance: none;
}

#contact .btn:hover {
    color: var(--highlight);
}


/* Footer */

.footer {
    background: #222;
    color: #fff;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
}

.footer p {
    padding-right: 1rem;
}

.footer a {
    color: #fff;
    transition: all 0.6s ease;
}

.footer a:hover {
    color: var(--highlight);
}

z