@import url('https://fonts.googleapis.com/css?family=Merriweather|Montserrat&display=swap');

/* General Stylings */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    --primary: #458f8f;
    --secondary: #377474;
    --highlight: #00ffff;
    --nav-height: 100px;
}

h1 {
    font-family: 'Merriweather', serif;
}

h2 {
    color: var(--primary);
    font-size: 5rem;
}

h4 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

.btn {
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
    margin: 1rem;
}

.btn:hover {
    color: #fff;
    background: #222;
}


/* Navbar */

nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--nav-height);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 80px;
    justify-items: start;
    align-items: flex-end;
    background: #222;
    color: #eee;
    z-index: 3;
}

nav .wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding-left: 2rem;
}

nav #logo {
    background: url(../img/logo.PNG) no-repeat;
    height: 100%;
    width: 100%;
    background-size: contain;
}

nav #title {
    padding-left: 1rem;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    font-size: 1rem;
    grid-gap: 1rem;
    justify-self: end;
    padding-right: 4rem;
}

nav a {
    color: #fff;
}

nav a:hover {
    color: var(--highlight);
}

#nav-spacing {
    height: var(--nav-height);
}

#navbar .you-are-here {
    color: #999;
}

#navbar .you-are-here:hover {
    cursor: pointer;
}


/* Showcase */

#showcase {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 2rem;
}

#showcase-img {
    background: url(../img/showcase.jpg) no-repeat center center/cover;
    height: 65vh;
    width: 100%;
    grid-column: 1/4;
    grid-row: 1/4;
}

.overlay {
    background: rgba(0, 0, 0, 0.35);
    position: absolute;
    height: 65vh;
    width: 100%;
    z-index: 1;
}

#showcase h1 {
    color: #fff;
    grid-column: 1/4;
    grid-row: 3/4;
    z-index: 2;
    align-self: flex-end;
    padding: 0 0 1rem 1rem;
    font-size: 5.5rem;
}

#showcase p {
    font-size: 2.75rem;
    grid-column: 1/4;
    justify-self: end;
    padding: 1rem 1rem 0 0;
    letter-spacing: 0.15rem;
}


/* Services */

#services {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    margin-top: 2rem;
    padding-top: 3rem;
}

#services h2 {
    color: var(--primary);
    font-size: 5rem;
    grid-column: 2/5;
    grid-row: 1/2;
    align-self: center;
    justify-content: flex-start;
}

#services span {
    color: var(--primary);
}

i {
    font-size: 4rem;
    padding: 1rem;
    margin-top: 2rem;
}

#management {
    grid-column: 1/2;
    grid-row: 1/3;
    height: 50%;
    justify-self: flex-end;
    align-self: center;
}

#gas {
    grid-column: 3/4;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
    margin-bottom: 3rem;
}

#writing {
    grid-column: 5/6;
    grid-row: 1/3;
    height: 50%;
    justify-self: flex-start;
    align-self: center;
}

#services-list {
    grid-column: 1/6;
    grid-row: 3/4;
    background: #ebebeb;
    height: 80px;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

#services-list ul {
    display: flex;
    flex-direction: row;
    align-self: center;
}

#services-list li {
    padding: 1rem;
}

#services-list a:hover {
    font-weight: bolder;
}

#services-page {
    display: flex;
    flex-direction: column;
    line-height: 2;
}

#first-div {
    margin: 5rem 15rem 0 15rem;
}

#second-div {
    margin: 3rem 10rem 5rem 10rem;
}

#services-page div:nth-child(2) {
    display: flex;
    justify-content: space-between;
}

#services-page div:nth-child(2) div:first-child {
    grid-column: 1/2;
}

#services-page h2 {
    text-align: center;
    padding-bottom: 2rem;
}

#services-page p {
    padding-bottom: 4rem;
}

#services-page ul li ul {
    list-style-type: disc;
    margin-left: 2rem;
    padding-bottom: 2rem;
}


/* Projects */

#projects {
    display: flex;
    flex-direction: column;
    margin: 5rem 15rem;
}

#projects h2 {
    padding-bottom: 5rem;
}

#projects h4 {
    padding-bottom: 1.25rem;
}

#projects p {
    line-height: 2;
    padding-bottom: 2.5rem;
}


/* About */

#about {
    padding: 5rem 7rem;
}

#about p {
    line-height: 2;
    padding-bottom: 2rem;
}

#about a {
    background: #222;
    color: #fff;
    margin-left: 0rem;
}

#about a:hover {
    color: var(--secondary);
}


/* Bio */

#bio {
    display: flex;
    flex-direction: column;
    padding-top: 2.5rem;
}

#bio-img {
    background: url(../img/bio-pic.jpg) no-repeat center;
    background-size: contain;
    height: 8.5rem;
    width: auto;
    margin-top: 5rem;
}

#bio p {
    padding: 4rem 20rem 5rem 20rem;
    line-height: 2;
}

#bio-footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 90px;
}


/* Contact */

#contact {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    height: 77vh;
}

.contact-form {
    background: var(--primary);
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
    z-index: 1;
}

#contact .contact-form form {
    width: 100%;
}

#contact h3 {
    color: #fff;
    font-size: 3.5rem;
    padding-bottom: 2rem;
}

#contact input,
#contact textarea {
    width: 50%;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

::placeholder {
    color: #000;
    opacity: 1;
    font-family: 'Montserrat', sans-serif;
}

#contact-page-spacing {
    height: 12vh;
    background: var(--primary);
}


/* Footer */

.footer {
    background: #222;
    color: #fff;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
}

.footer p {
    padding-right: 1rem;
}

.footer a {
    color: #fff;
}

.footer a:hover {
    color: var(--highlight);
}

#bio-footer {
    margin-top: 100vh;
}


/* Extras */

.fill-page {
    height: 80vh;
}