@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* General */

body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

p {
    margin: 0.75 rem 0;
}


/* Utiliy Classes */

.text-primary {
    color: #8C8664;
}

.text-center {
    text-align: center;
}

.bg-light {
    background: #FAF5E2;
    color: #333;
}

.bg-grey {
    background: #555;
    color: #fff;
}

.bg-dark {
    background: #2A2E28;
    color: #fff;
}

.bg-primary {
    background: #5B5F43;
    color: #fff;
}

.bg-secondary {
    background: #365739;
}

.l-heading {
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.m-heading {
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.lead {
    font-size: 1.3rem;
    margin-bottom: 2rem
}

.py-1 {
    padding: 1rem 0;
}

.py-2 {
    padding: 2rem 0;
}

.py-3 {
    padding: 3rem 0;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 2rem;
}

.p-3 {
    padding: 3rem;
}

.p-5 {
    padding: 5rem;
}

.px-1 {
    padding: 0 1rem;
}

.px-2 {
    padding: 0 2rem;
}

.px-3 {
    padding: 0 3rem;
}

.btn {
    display: inline-block;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    background: #A49774;
}

.btn-dark {
    background: #2A2E28;
    color: #fff;
}

.btn-dark:hover {
    color: #000;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

.container-2 {
    max-width: 1100px;
    margin: auto 0;
    padding: 0;
    overflow: hidden;
}

.list {
    margin: 0.5rem 0;
    list-style: none;
}

.list li {
    padding: 0.5rem 0;
    border-bottom: #444 dotted 1px;
}

::placeholder {
    color: #000;
    opacity: 1;
}

.card {
    height: 30rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    margin: 3rem;
}


/* Navbar */

#navbar {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    z-index: 1;
    padding: 1rem;
    max-height: 100px;
    max-width: 100%;
    border-bottom: #111 solid 1px;
}

#navbar .logo img {
    width: auto;
    max-height: 100%;
}

#navbar .title {
    display: flex;
    flex-direction: column;
    padding-top: 0.75rem;
    margin-left: -26rem;
}

#navbar .title h1 {
    max-height: 100%;
}

#navbar .title p {
    font-size: 1rem;
    max-height: 100%;
}

#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: auto;
}

#navbar ul li a {
    color: #fff;
    padding: 0.75rem;
    margin: 0 0.25rem;
}

#navbar ul li a:hover {
    background: #A49774;
    border-radius: 5px;
}


/* Showcase */

#showcase {
    background: url(../img/pipeline-918414_1920.jpg) no-repeat center center/cover;
    height: 100vh;
}

#showcase #showcase-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50%;
    padding: 0 2rem;
}

#showcase #showcase-content h1 {
    font-size: 3.5rem;
}

#showcase #showcase-content a {
    margin-top: -0.5rem;
}


/* About */

#about {
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#about .bio-pic {
    flex: 1;
    text-align: center;
    vertical-align: middle;
}

#about .bio-pic img {
    height: 90%;
    width: auto;
    border-radius: 5px;
}

#about #bio {
    margin-right: auto;
    flex: 2;
}

#about #bio h2 {
    padding-bottom: 1rem;
}

#about #clients-btn {
    flex: 1;
}

#about #clients-btn a {
    color: #000;
    font-size: 6rem;
    line-height: 1;
    background: none;
}

#about #clients-btn a:hover {
    color: #8C8664;
}


/* Projects */

#projects {
    display: flex;
    justify-content: center;
    padding-bottom: 8rem;
}

#projects .container-2 #projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0rem;
    justify-content: space-evenly;
}

#projects .container-2 #projects-container .pipes-img {
    background: url(../img/pipes-753700_1920.jpg) no-repeat center center/cover;
    height: 40%;
    width: auto;
}

#projects .container-2 #projects-container h3 {
    padding: 1rem 1rem;
}

#projects .container-2 #projects-container p {
    align-self: flex-end;
    font-size: 1rem;
    text-align: center;
}

#projects .container-2 #projects-container .container {
    margin-top: 1.5rem;
}


/* Contact */

#contact {
    display: flex;
    flex-direction: row;
}

#contact .contact-form h3 {
    padding-bottom: 2rem;
}

#contact #office-img,
#contact .contact-form {
    flex: 1;
}

#contact #office-img {
    background: url(../img/office-1209640_1920.jpg) no-repeat center center/cover;
}

#contact .contact-form .form-group {
    padding-bottom: 1rem;
}

#contact .contact-form label {
    display: block;
}

#contact .contact-form input,
#contact .contact-form textarea {
    width: 100%;
    padding: 0.5rem;
}

::placeholder {
    color: #000;
}

#contact .contact-form .btn:hover {
    color: #000;
}


/* Clients */


/* Footer */

#main-footer {
    font-size: 0.75rem;
}